<a href="https://colab.research.google.com/github/Rezarsa82/online_retai-_matrix_monitoring/blob/main/matrix_monitoring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import zipfile
import requests
from io import BytesIO

url = "https://archive.ics.uci.edu/static/public/352/online+retail.zip"

r = requests.get(url)
zip_file = zipfile.ZipFile(BytesIO(r.content))

print(zip_file.namelist())  # ['Online Retail.xlsx']

excel_file = zip_file.open("Online Retail.xlsx")
df = pd.read_excel(excel_file)

print(df.columns)
print(df.head())

['Online Retail.xlsx']
Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [41]:
df = df.dropna()
print(df.isna().sum())

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [46]:
df = df[df["Quantity"] > 0]
print((df["Quantity"] <= 0).sum())
num_cancelled = df[df["InvoiceNo"].astype(str).str.startswith("C")].shape[0]
print("تعداد فاکتورهای بازگشتی:", num_cancelled)

0
تعداد فاکتورهای بازگشتی: 0

In [52]:
item_transaction_matrix = df.groupby(['InvoiceNo', 'StockCode'])['Quantity'].sum().unstack().fillna(0)

item_transaction_matrix[item_transaction_matrix > 0] = 1

print(item_transaction_matrix.head())

StockCode  10002  10080  10120  10125  10133  10135  11001  15030  15034  \
InvoiceNo
536365       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
536366       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
536367       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
536368       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
536369       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

StockCode  15036  ...  90214V  90214W  90214Y  90214Z  BANK CHARGES   C2  DOT  \
InvoiceNo         ...
536365       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0  0.0
536366       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0  0.0
536367       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0  0.0
536368       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0  0.0
536369       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0  0.0

StockCode    M  PADS  POST
InvoiceNo
536365     0.0   0.0   0.0
536366     0.0   0.0   0.0
536367     0.0   0.0   0.0
536368     0.0   0.0   0.0
536369     0.0   0.0   0.0

[5 rows x 3665 columns]

In [53]:
import random

random_invoices = random.sample(list(item_transaction_matrix.index), 5)

for invoice in random_invoices:
    purchased_items = item_transaction_matrix.loc[invoice][item_transaction_matrix.loc[invoice] == 1]
    print(f"فاکتور {invoice}: {len(purchased_items)} کالا خریداری شده")
    if len(purchased_items) > 0:
        print(f"   نمونه کالاها: {list(purchased_items.index[:3])}")

فاکتور 566621: 18 کالا خریداری شده
   نمونه کالاها: [21326, 22142, 22144]
فاکتور 558006: 1 کالا خریداری شده
   نمونه کالاها: [21686]
فاکتور 546915: 19 کالا خریداری شده
   نمونه کالاها: [21136, 22147, 22148]
فاکتور 550290: 21 کالا خریداری شده
   نمونه کالاها: [20829, 21232, 22303]
فاکتور 575754: 17 کالا خریداری شده
   نمونه کالاها: [20726, 21928, 22086]